<div class="black-banner">
  <p>lundi au jeudi 8h - 18h, vendredi 8h - 17h</p>
  <p><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;<a href="tel: 07 60 04 25 64">07 60 04 25 64</a></p>
</div>

<div class="radient-bg">
  <%= render "shared/top-bar" %>
  <%= render "shared/menu-burger" %>

  <div class="task-list">
    <h1>Chauffage</h1>
    <div class="list">
      <div class="row-1">
        <p><i class="fa fa-check"></i>&nbsp;&nbsp;Installation de nouvelles chaudières</p>
        <p><i class="fa fa-check"></i>&nbsp;&nbsp;Réparation de chaudières existantes</p>
        <p><i class="fa fa-check"></i>&nbsp;&nbsp;Entretien et maintenance de chaudières</p>
        <p><i class="fa fa-check"></i>&nbsp;&nbsp;Remplacement de chaudières</p>
        <p><i class="fa fa-check"></i>&nbsp;&nbsp;Installation de radiateurs</p>
      </div>
      <div class="row-2">
        <p><i class="fa fa-check"></i>&nbsp;&nbsp;Réparation de radiateurs</p>
        <p><i class="fa fa-check"></i>&nbsp;&nbsp;Installation de thermostats</p>
        <p><i class="fa fa-check"></i>&nbsp;&nbsp;Réparation de thermostats</p>
        <p><i class="fa fa-check"></i>&nbsp;&nbsp;Inspection de la cheminée et du conduit de fumée</p>
        <p><i class="fa fa-check"></i>&nbsp;&nbsp;Installation de convecteurs électriques et sèche-serviettes</p>
      </div>
    </div>
    <div class="bouttons">
      <a href="tel: 07 60 04 25 64" class="button orange-button"><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;Appeler</a>
      <a href="/contact" class="button blue-button"><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;Ecrire un message</a>
    </div>
  </div>
  <div class="illustrations-chauffage">
    <%= image_tag("outils.jpg", class: "outils") %>
    <%= image_tag("thermostat-2.jpg", class: "thermostat-2") %>
    <%= image_tag("radiator.jpg", class: "radiator") %>
    <%= image_tag("thermostat.jpg", class: "thermostar") %>
    <%= image_tag("pipe.jpg", class: "pipe") %>
    <%= image_tag("radiator-2.jpg", class: "radiator-2") %>
  </div>
</div>
