<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  </head>

  <body>

    <!-- BLACK BANNER -->
    <div class="black-banner">
      <p>lundi au jeudi 8h - 18h, vendredi 8h - 17h</p>
      <p><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;<a href="tel: 07 60 04 25 64">07 60 04 25 64</a></p>
    </div>

    <!-- BIG BANNER -->
    <div class="radient-bg">
      <div class="big-banner-container">
        <%= render "shared/top-bar" %>
        <div class="bottom-bar">
          <div class="content">
            <h1>Plomberie,<br>Chauffage &<br>Climatisation</h1>
            <p>Notre entreprise est spécialisée dans les domaines de la plomberie, du chauffage et de la climatisation.</p>
            <p>Nous proposons des services de qualité pour répondre à tous vos besoins.</p>
            <i class="fa-light fa-temperature-snow"></i>
            <!-- BUTTONS RDV / DEVIS -->
            <div class="cta-buttons">
              <a href="#" class="button orange-button">Prendre RDV</a>
              <a href="#" class="button blue-button">Devis gratuit</a>
            </div>
          </div>
          <%= image_tag("robinet-resized.png", class: "image-robinet") %>
        </div>
        <!-- NAVCARDS -->
        <div class="nav-cards">
          <div class="nav-card">
            <%= image_tag("plumber-blue.png", :class => "blue-card") %>
            <%= image_tag("plumber-orange.png", :class => "orange-card") %>
            <h2>PLOMBERIE</h2>
          </div>
          <div class="nav-card">
            <%= image_tag("radiator-blue.png", :class => "blue-card") %>
            <%= image_tag("radiator-orange.png", :class => "orange-card") %>
            <h2>CHAUFFAGE</h2>
          </div>
          <div class="nav-card">
            <%= image_tag("airconditioner-blue.png", :class => "blue-card") %>
            <%= image_tag("airconditioner-orange.png", :class => "orange-card") %>
            <h2>CLIMATISATION</h2>
          </div>
        </div>
      </div>
    </div>

    <!-- À PROPOS -->
    <div class="white-bg">
      <div class="about">
        <div class="text">
          <h1>À propos</h1>
          <p>&nbsp;&nbsp;&nbsp;<strong>Nicolas Terraz</strong> est un <strong>professionnel expérimenté</strong> dans les domaines de <strong>la plomberie, du chauffage et de la climatisation.</strong> Basé à <strong>Marseille</strong>, il propose ses services aux <strong>particuliers et aux entreprises</strong> de la région. Avec plus de <strong>10 ans d'expérience</strong>, il est reconnu pour sa <strong>qualité de travail et son sérieux.</strong></p>
          <p>&nbsp;&nbsp;&nbsp;En tant que <strong>plombier, chauffagiste et climaticien diplômé et agréé</strong>, <strong>Nicolas Terraz</strong> vous garantit une <strong>intervention rapide et efficace.</strong> Que vous ayez besoin <strong>d'une réparation</strong>, <strong>d'un entretien</strong> ou <strong>d'une installation</strong>, il saura <strong>répondre à vos attentes</strong> et <strong>vous conseiller</strong> sur les <strong>meilleures solutions adaptées à vos besoins.</strong> N'hésitez pas à le <strong>contacter</strong> pour tous vos projets de <strong>plomberie</strong>, <strong>chauffage</strong> et <strong>climatisation</strong> à <strong>Marseille et ses alentours</strong>.</p>
          <div class="cta-buttons">
            <a href="#" class="button orange-button">Prendre RDV</a>
          </div>
        </div>
        <%= image_tag("img-about.jpg", class: "img-about") %>
      </div>
    </div>

    <!-- PLOMBERIE -->
    <div class="radient-bg">
      <div class="plomberie">
        <%= image_tag("plumber-black.png", class: "plomberie-img") %>
        <div class="texte">
          <h1>Plomberie</h1>
          <p>&nbsp;&nbsp;&nbsp;<strong>Nicolas Terraz et son équipe</strong> mettent à votre disposition un <strong>service d'interventions à domicile</strong> pour répondre à tous vos besoins en matière de plomberie. Que ce soit pour des réparations, des installations ou des rénovations, ils sont prêts à intervenir chez vous <strong>pour résoudre tous les problèmes de plomberie que vous pourriez rencontrer.</strong></p>
          <p>&nbsp;&nbsp;&nbsp;Parmi les missions les plus courantes, ils effectuent des <strong>dépannages de fuites d'eau, des réparations de robinetterie, des remplacements de tuyaux, des installations de sanitaires, des mises aux normes de vos installations et bien plus encore.</strong></p>
          <p>&nbsp;&nbsp;&nbsp;Avec une grande expérience dans le domaine, Nicolas et son équipe garantissent <strong>un travail soigné et rapide</strong>, ainsi qu'un <strong>devis gratuit</strong> avant chaque intervention. N'hésitez pas à les contacter pour toute demande de <strong>plomberie à domicile.</strong></p>

          <div class="cta-buttons">
            <a href="#" class="button orange-button">Prendre RDV</a>
            <a href="#" class="button blue-button">Devis gratuit</a>
          </div>
        </div>
      </div>
    </div>


    <!-- CHAUFFAGE -->
    <div class="white-bg">
      <div class="chauffage">
        <%= image_tag("radiator-black.png", class: "chauffage-img") %>
        <div class="texte">
          <h1>Chauffage</h1>
          <p>&nbsp;&nbsp;&nbsp;<strong>Nicolas Terraz</strong> est un <strong>plombier chauffagiste</strong> basé à <strong>Marseille</strong>. Il possède une <strong>grande expérience</strong> dans le domaine et est reconnu pour <strong>son professionnalisme</strong> et <strong>son expertise.</strong> Il s'occupe de tous les types de travaux liés à la <strong>plomberie et au chauffage</strong>, allant de <strong>l'installation</strong> à <strong>la réparation</strong> en passant par <strong>la maintenance.</strong></p>
          <p>&nbsp;&nbsp;&nbsp;Que ce soit le <strong>remplacement d'une chaudière</strong>, la <strong>réparation de radiateurs</strong>, <strong>l'installation de systèmes de chauffage au sol</strong> et bien d'autres projets.<br>Il est également <strong>compétent</strong> pour travailler sur des <strong>systèmes de chauffage écologiques</strong> tels que <strong>les énergies renouvelables.</strong></p>
          <p>&nbsp;&nbsp;&nbsp;Il est <strong>réactif et disponible</strong> pour <strong>répondre aux besoins</strong> de ses clients, qu'il s'agisse d'une <strong>urgence</strong> ou <strong>d'un projet de rénovation.</strong></p>
          <div class="cta-buttons">
            <a href="#" class="button orange-button">Prendre RDV</a>
            <a href="#" class="button blue-button">Devis gratuit</a>
          </div>
        </div>
      </div>
    </div>

    <!-- CLIMATISATION -->
    <div class="radient-bg">
      <div class="climatisation">
        <%= image_tag("airconditioner-black.png", :class => "clim-img") %>
        <div class="texte">
          <h1>Climatisation</h1>
          <p><strong>Nicolas Terraz</strong> est un <strong>plombier chauffagiste et climaticien</strong> expérimenté qui dirige une <strong>équipe qualifiée et compétente.</strong> Son équipe est capable de <strong>répondre à tous vos besoins</strong> en matière de <strong>climatisation</strong>, allant de <strong>l'installation</strong> à <strong>la réparation</strong> en passant par <strong>la maintenance.</strong> Ils sont formés pour intervenir sur des systèmes de climatisation de <strong>toutes marques et de tous modèles.</strong></p>
          <p>Ils peuvent également effectuer des tâches de <strong>nettoyage des filtres de climatisation</strong>, ce qui est <strong>essentiel</strong> pour <strong>maintenir une bonne qualité de l'air intérieur</strong> et <strong>prolonger la durée de vie de votre système.</strong></p>
          <p>En outre, ils sont compétents pour <strong>vérifier la conformité de vos systèmes de climatisation</strong> avec <strong>les normes de sécurité</strong> et <strong>de qualité de l'air en vigueur.</strong> Ils s'assurent que vos systèmes fonctionnent de manière <strong>optimale</strong> et respectent les exigences en matière de <strong>sécurité</strong> et <strong>de durabilité.</strong></p>
          <p>En résumé, <strong>Nicolas Terraz et son équipe</strong> sont des professionnels <strong>compétents</strong> et <strong>expérimentés</strong> qui peuvent répondre à <strong>tous vos besoins</strong> en matière de <strong>climatisation</strong>, que ce soit pour une <strong>installation</strong>, <strong>une réparation</strong>, <strong>une maintenance</strong>, <strong>un nettoyage des filtres</strong> ou <strong>une mise en conformité.</strong> Ils sont <strong>disponibles</strong> pour <strong>répondre à vos besoins</strong> et s'assurent de fournir <strong>des services de qualité</strong> pour garantir <strong>votre satisfaction.</strong></p>
          <div class="cta-buttons">
            <a href="#" class="button orange-button">Prendre RDV</a>
            <a href="#" class="button blue-button">Devis gratuit</a>
          </div>
        </div>
      </div>
    </div>

    <%# FOOTER %>
    <%= render "shared/footer" %>

  </body>
</html>
