<p>Bonjour,<p>
<p>Un utilisateur a rempli le formulaire de contact et vous a envoyé un message, vous trouverez ci-dessous les coordonnées de l'utilisateur.</p>
<br>
<p><strong>Nom : </strong><%= @name %></p>
<p><strong>Email : </strong><%= @email %></p>
<p><strong>Téléphone : </strong><%= @tel %></p>
<br>
<p><strong>Objet</strong></p>
<p><%= @subject %></p>
<br>
<p><strong>Intervention souhaitée</strong></p>
<p><%= @intervention %></p>
<br>
<p><strong>Message</strong></p>
<p><%= @message %></p>
