<h1>Nouveau message de contact</h1>

<p>Un utilisateur a rempli le formulaire de contact et vous a envoyé un message.</p>

<h2>Informations de l'utilisateur</h2>
<p>Nom : <%= @name %></p>
<p>Email : <%= @email %></p>
<p>Téléphone : <%= @tel %></p>

<h2>Objet</h2>
<p><%= @subject %></p>

<h2>Message</h2>
<p><%= @message %></p>
